.container_aboutMe
  display: flex
  height: 100vh

  .container_text, .container_img
    width: 50%
    display: flex
    justify-content: center
    flex-direction: column

  .container_text
    margin-right: 10vw
    gap: 1rem

    .first_text
      font-size: 2rem
  
  .container_img
    align-items: center

  img 
    width: 4rem
    height: 4rem
  
.container_linguagens_projetos
    display: flex
    flex-direction: row-reverse
    height: auto

    .container_linguagens, .container_projetos
      display: flex
      flex-direction: column
      align-items: center
      margin: 2rem 0
      width: 50%

      h2 
        margin-bottom: 2rem

      .container_icons
        display: grid
        align-items: center
        justify-content: center
        grid-template-columns: 20% 20% 20%
        gap: 3rem 4rem
        height: 90%
        width: 80%

        .icons_text-linguagens
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          background-color: rgb(255,255,255)
          box-shadow: 0 8px 14px 0 rgba(124, 82, 158, 0.336)
          color: rgb(184, 184, 184)
          font-weight: 600
          border-radius: 0.5rem
          gap: 0.2rem
          height: 10rem
          width: 10rem
          transition: all .5s ease

          i
            font-size: 3.5rem
            color: #751479 
        
          &:hover 
            transform: scale(1.1)

      .cards_container_projetos
        display: grid
        align-items: center
        justify-content: center
        gap: 3rem 4rem
        height: 90%
        width: 80%
    
app-flip-card
  display: flex
  align-items: center
  justify-content: center

.container_gostos
    display: flex
    flex-direction: column
    align-items: center
    height: auto

    h2 
        margin: 3rem 0

    .container_flip-card
        display: grid
        grid-template-columns: 20% 20% 20% 20%
        justify-content: center
        align-items: center
        gap: 2rem 0
        width: 100%

@media (max-width: 1300px)
  .container_linguagens_projetos 
    flex-direction: column-reverse
    height: auto
    
    .container_linguagens, .container_projetos
      width: 100%

      .container_icons
        grid-template-columns: 20% 20% 20% 20% 20%
        width: 60%

      .cards_container_projetos
        justify-content: center
        align-items: center
        grid-template-columns: 50% 50%
        width: 80%

@media (max-width: 600px)
  .container_aboutMe
    flex-direction: column

    .container_text, .container_img
      width: 100%
      align-items: center
      text-align: center

    .container_text
      margin: 2rem 0
      gap: 0.5rem

      .first_text
        font-size: 1.5rem

    .container_img
      margin-bottom: 2rem

  .container_linguagens_projetos 
    .container_linguagens, .container_projetos

      .container_icons
        grid-template-columns: 50% 50%
        width: 60%

      .cards_container_projetos
        grid-template-columns: 100%
        width: 100%

        app-flip-card-project
          display: flex
          justify-content: center

  .container_gostos
    height: auto

    h2 
      text-align: center
      width: 90%

    .container_flip-card
      grid-template-columns: 50% 50%
      gap: 1rem 1rem
      width: 90%